PORT=47001
FIGMA_HOST=https://api.figma.com/v1
FIGMA_TOKEN=
ATLASSIAN_HOST=https://yourcompany.atlassian.net
ATLASSIAN_EMAIL=
ATLASSIAN_API_TOKEN=
GCHAT_CLIENT_ID=
GCHAT_CLIENT_SECRET=
GCHAT_REFRESH_TOKEN=
